
@import 'https://fonts.googleapis.com/css?family=Special Elite';
@import 'https://fonts.googleapis.com/css?family=Nunito';
@import 'components.css';
@import 'landing.css';
@import 'snackbar.css';

body 
{
  position: relative;
  overflow-x: hidden;
}

#loading_div
{
    display: none; position: fixed; top: 0; right: 0; pointer-events: none;
    padding: 4px;
    z-index: 99;
}

#cardface_container
{
    z-index: 1;
}

/* game_div contains a .header, and N .player divs */
#game_div
{
  background-color: #DAE7E4;
  padding: 4px;
  position: relative;
  display: none;
}

/* header class is used in both game_div and landing page */
.header 
{
  background-color: #DAE7E4;
  padding: 30px;
  text-align: center;

  font-family: 'Special Elite', serif;
  font-size: 39px;
}

h1 
{
  font-size: 39px;
  font-family: 'Special Elite', serif;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0; 
}
h1 span:nth-of-type(2)
{
  color: #A80810;
  font-size: 100px;
}

h2
{
  font-size: 28px;
  font-family: 'Tw Cen MT Condensed', 'Nunito', sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;  
}

h3
{
  font-size: 18px;
  font-family: 'Special Elite', serif;
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
}

/* the player divs contain an .identity, and N 'hands' of cards */
.player 
{
  border: 2px solid;
  border-radius: 5px;
  margin: 2px;
  overflow: hidden;
}

/* styling for the player identity: their name, alias and notes */
.player > .identity 
{
    padding: 4px;
    background-color: #BAD1CD;
}
.player > .identity .name
{
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}
.player > .identity .name br 
{
    display: none
}
.player > .identity .alias
{
    padding-left: 8px;
    font-size: 16px;
    font-family: 'Special Elite', serif;  
}
.edit[contenteditable]:hover, .edit[contenteditable]:focus,
.player > .identity .alias[contenteditable]:hover,
.player > .identity .alias[contenteditable]:focus,
.player > .identity .name[contenteditable]:hover,
.player > .identity .name[contenteditable]:focus
{
    background-color: #DAE7E4;
}
.alias::before
{
    content: "(";
}
.alias::after 
{
    content: ")";
}

/* hand of cards, made up of a big label and a grid of components */
.hand
{
  position: relative;
}
.hand_label
{
  width: 100%;
  height: 120px;
  text-align: center;
  font-family: 'Special Elite', serif;
  font-size: 60px;
  text-transform: uppercase;
  padding-top: 30px;
  position: absolute;
  top: 0px;
  pointer-events: none;
  color: #62938B;
}
.hand_grid
{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-columns: minmax(64px, 260px);
  grid-auto-rows: 100px; /* minmax(100px, 360px); */
  
  grid-gap: 4px;
  padding: 4px;
  min-height: 100px;
}
.hand:nth-child(even)
{
  background-color: #BAD1CD;
}
.hand:nth-child(odd)
{
  background-color: #A9C6C1;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: inherit;
}

.action .edit
{
  border: solid 1px;
  background-color: #BAD1CD;
    
  padding: 4px;
  margin: 4px;
  height: 30px;
}

.action a.button,
.action button
{
  padding: 4px;
  margin: 4px;
  font-size: 16px;
  min-width: 90px;

  display: inline-block;
}

/* buttons styling, also used by cardmenu */
a.button,
button
{
  cursor: pointer;  
  color: black;
  border: 1px solid black; 
  background-color: #BCBDC0;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  box-sizing: content-box;
  line-height: inherit;
}

a.button:hover,
button:hover
{
  background-color: white;
}

#gameover,
#invite
{
  text-align: center;
  background-color: #DAE7E4;
  padding: 4px 6px 4px 6px;
  display: none;
}

#invite > .action
{
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-family: 'Nunito', sans-serif;  
}

/* Style the footer (copyright, etc) */
.footer
{
  padding: 25px;
  text-align: center;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
}

